
html,body
    {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .header{
    background-color: #1e1e1e;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
 }
 a{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   color: white;
   position:absolute;
   top:20px;
   left: 60px;
 }
 .icon{
  padding: 5px 5px 5px 5px; 
  border: 2px solid #141414;
  position:absolute;
  top:13px;
  left: 10px; 
} 

.options-box {
  background: #FDFCFC;
  border-radius: 3px;   
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 360px; 
  z-index: 1;
  position: absolute;
  top: 60px;
}  
.btn-info{
  background: #00a0e9;
  height: 40px;
  width: 60px;
  border: none;
  font-size: 1em;

} 
  #input-text{
      width: 70%;
      display: inline-block;
      height: 40px;
  }
  #pano{
      width: 200px;
      height:200px;
  }
  #map {
    top:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
  }
  .show-nav {transform:translateX(0);}
  .hide-nav {transform:translateX(-100%);}
@media screen and (max-width:750px){
  body{
    font-size: 12px;
  }
  body .options-box{
    width:60%;
  }  
}